{% extends "layout.html" %}
{% block navigation_top %}
    <span class="topnavtitle">Managing Application {{ name }}</span>
{% endblock %}
{% block body %}
    <script>
        window.toggle_main_nav("leftnav_applications");
    </script>
    <br>
    <style>
        .minor-navitem {
            display: inline-table;
            padding-right: 10px;
            font-size: 15px;
            color: gray;
        }

        .selected {
            font-weight: 500;
        }

        .minor-navbar {
            padding-bottom: 10px;
            border-bottom: solid 1px whitesmoke;;
        }
    </style>
    <div class="row">
        <div class="minor-navbar">
            {% include "application_navbar.html" %}
            <script>
                $("#scaling-nav").addClass("selected")
            </script>
        </div>
    </div>
    <br>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <div ng-app="ApplicationSettings" class="row">
        <div ng-controller="Main as main">
            <form ng-submit="main.save()">
                <div class="row configuration_row box formbox">
                    <div class="col-lg-4">
                        <div class="subtitle">Scaling Configuration</div>
                        <div class="subtext">
                            Configure application type and scaling min/max values.
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" disabled class="form-control" ng-model="main.application.Name" onkeydown="preventSubmit()">
                        </div>
                        <div class="form-group">
                            <label>Enabled</label>
                            <input type="checkbox" class="form-control" ng-model="main.application.Enabled">
                        </div>
                        <div class="form-group">
                            <label>Disable Schedule</label>
                            <input type="checkbox" class="form-control" ng-model="main.application.DisableSchedule">
                        </div>
                        <div class="form-group">
                            <label>Min</label>
                            <input type="number" class="form-control"
                                   ng-model="main.application.MinDeployment" onkeydown="preventSubmit()">
                        </div>
                        <div class="form-group">
                            <label>Desired</label>
                            <input type="number" class="form-control"
                                   ng-model="main.application.DesiredDeployment" onkeydown="preventSubmit()">
                        </div>

                        <div class="form-group">
                            <label>Property Group</label>
                            <div class="form-group form-inline" ng-repeat="mapping in main.application.PropertyGroups">
                                <input type="text" class="form-control" ng-model="mapping.Name" placeholder="Name">
                                <a ng-click="main.delete_property_membership(mapping.Name)"><i
                                        class="glyphicon glyphicon-remove"></i></a>
                            </div>
                            <a ng-click="main.create_property_membership()">Add</a>
                        </div>

                    </div>
                </div>

                <div ng-show="!main.application.DisableSchedule">
                    <br>

                    <div class="row configuration_row box formbox" ng-show="!main.application.DisableSchedule">
                        <div class="col-lg-4">
                            <div class="subtitle">Dynamic Schedule</div>
                            <div class="subtext">
                                Configure a hourly schedule.
                                <br/>
                                <br/>
                                <a href="" id="add-schedule-elem"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Schedule item</a>
                            </div>
                        </div>

                        <div class="col-lg-8">
                            <style>
                                #schedule-table {
                                }
                                #schedule td, #schedule th {
                                    width: 90px;
                                    height: 20px;
                                    text-align: center;
                                }

                                .schedule-elem {
                                    width: 90px;
                                    height: 20px;
                                    background-color: lightgray;
                                    text-align: center;
                                    text-shadow: 0px 0px 2px white;
                                    font-weight: 900;
                                    font-size: 14px;
                                }

                                .remove-schedule-elem {
                                    margin-left: 5px;
                                    display: inline-block;
                                    float: left;
                                    text-shadow: none;
                                }
                                .remove-schedule-elem:hover {
                                    text-shadow: 0px 0px 2px white;
                                    cursor: pointer;
                                }

                                .desired-val {
                                    width: 30px;
                                }

                                table {border:none;}

                                tr:nth-child(even) {background-color: #f2f2f2}

                            </style>

                            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
                            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
                            <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

                            <script>
                                var minutes_height = 20/60;
                                var day_width = 90;

                                var schedule = {"0":{"0": 0, "60": 1, "120": 2, "180" : 0}, "1":{"0": 0, "60": 1, "120": 2, "180" : 0}};

                                var colors = ["rgba(51,102,204,OPACITY)", "rgba(220,57,18,OPACITY)", "rgba(255,153,0,OPACITY)", "rgba(16,150,24,OPACITY)", "rgba(153,0,153,OPACITY)", "rgba(0,153,198,OPACITY)", "rgba(221,68,119,OPACITY)", "rgba(102,170,0,OPACITY)"];
                                var color_count = 0;

                                function get_color() {
                                    var col = colors[color_count];
                                    color_count++;
                                    return col;
                                }

                                var Schedule = function() {
                                    function init(scheduleElems) {
                                        if (scheduleElems != undefined && scheduleElems instanceof Array) {
                                            scheduleElems.forEach(function(elem) {
                                                if (!$('#schedule-elem-' + elem['Id']).length) {
                                                    var color = get_color();
                                                    $('#schedule').append('<div title="Desired: ' + elem['Desired'] + '" style="z-index: ' + elem['Desired'] + ';position:absolute;background-color:' + color.replace("OPACITY", "0.5") + '" id="schedule-elem-' + elem['Id'] + '" class="schedule-elem draggable" data-Id="' + elem['Id'] + '" data-Days="' + elem['Days'] + '" data-Minutes="' + elem['Minutes'] + '" data-Desired="' + elem['Desired'] + '">' +
                                                        '<input onkeydown="preventSubmit()" style="display:none;" class="desired-val" type="number" value="' + elem['Desired'] + '" /><div class="remove-schedule-elem"><i class="fa fa-close" aria-hidden="true"></i></div><span>Desired: ' + elem['Desired'] + '</span></div>');

                                                    $('#schedule-elem-' + elem['Id']).css('left', day_width * (elem['StartDay'] + 1) + $('#schedule-table')[0].offsetLeft);
                                                    $('#schedule-elem-' + elem['Id']).css('top', minutes_height * elem['StartMinute'] + $('#schedule-table')[0].offsetTop);
                                                    $('#schedule-elem-' + elem['Id']).css('width', day_width * elem['Days']);
                                                    $('#schedule-elem-' + elem['Id']).css('height', minutes_height * elem['Minutes']);
                                                }
                                            });

                                            make_draggable();
                                        }
                                    }

                                    function make_draggable() {
                                        $('.schedule-elem').resizable({
                                            grid: [day_width, minutes_height*60], minWidth: day_width, maxWidth: (day_width * 7), minHeight: minutes_height, maxHeight: (minutes_height*1440),
                                            stop: function(event, ui){
                                                var hours = Math.floor(ui.size.height / minutes_height);
                                                var days = Math.floor(ui.size.width / day_width);
                                                $(event.target).attr('data-Minutes', hours);
                                                $(event.target).attr('data-Days', days);
                                            }});

                                        $('.schedule-elem').draggable({
                                            grid: [day_width, minutes_height*60],
                                            containment: "#schedule-drag",
                                            stop: function() {

                                            }
                                        });
                                        fix_opacity();
                                    }

                                    function fix_opacity() {
                                        var elems = parse();
                                        elems.sort(function(a,b){
                                            return (a['Desired'] > b['Desired']) ? 1 : ((b['Desired'] > a['Desired']) ? -1 : 0);
                                        });
                                        var opa = 0.2;
                                        var opaIter = (0.7 - opa) / elems.length;
                                        elems.forEach(function(elem) {
                                            opa = opa + opaIter;
                                            var old = $('#schedule-elem-' + elem['Id']).css('background-color');
                                            $('#schedule-elem-' + elem['Id']).css('background-color', old.replace(old.split(",")[old.split(",").length-1], " "+opa+")"))
                                        });
                                    }

                                     function parse() {
                                        var elems = [];

                                        $('.schedule-elem').each(function(key, elem) {
                                            elems.push(parse_elem(elem));
                                        });
                                        return elems;
                                     }

                                    function parse_elem(target) {
                                        var days = parseInt($(target).attr('data-Days'));
                                        var minutes = parseInt($(target).attr('data-Minutes'));
                                        var start_day = Math.floor(($(target).context.offsetLeft - $('#schedule-table')[0].offsetLeft) / day_width) - 1;
                                        var start_minutes = (Math.floor(($(target).context.offsetTop - $('#schedule-table')[0].offsetTop) / minutes_height));
                                        var id = $(target).attr('data-Id');
                                        var desired = parseInt($(target).attr('data-Desired'));
                                        return {
                                            'Id': id, 'Days': days, 'Minutes': minutes, 'StartDay': start_day, 'StartMinute': start_minutes, 'Desired': desired
                                        }
                                    }

                                    return {
                                        init: init,
                                        make_draggable: make_draggable,
                                        fix_opacity: fix_opacity,
                                        parse: parse
                                    }
                                }();

                                $(function() {
                                    $('#schedule-drag').css('position', 'absolute');
                                    $('#schedule-drag').css('width', 7 * day_width);
                                    $('#schedule-drag').css('height', 1440 * minutes_height);
                                    $('#schedule-drag').css('left', ($('#schedule-table')[0].offsetLeft + day_width));
                                    $('#schedule-drag').css('top', ($('#schedule-table')[0].offsetTop + minutes_height * 60));

                                    function updateDesired(currentEle, value) {
                                        $(document).off('click');
                                        $(currentEle).find('span').hide();
                                        $(currentEle).find('input').show();
                                        $(currentEle).find('input').focus();
                                        $(currentEle).find('input').keyup(function (event) {
                                            if (event.keyCode == 13) {
                                                var newVal = $(currentEle).find('input').val();
                                                $(currentEle).find('span').html('Desired: ' + newVal);
                                                $(currentEle).find('span').show();
                                                $(currentEle).find('input').hide();
                                                $(currentEle).attr("data-Desired", newVal);
                                                $(currentEle).css('z-index', newVal);
                                                $(currentEle).attr('title', 'Desired: ' + newVal.toString());
                                                Schedule.fix_opacity();
                                            }
                                        });

                                        $(document).click(function () {
                                                if($(event.target).attr('class') != "desired-val") {
                                                    var newVal = $(currentEle).find('input').val();
                                                    $(currentEle).find('span').html('Desired: ' + newVal);
                                                    $(currentEle).find('span').show();
                                                    $(currentEle).attr("data-Desired", newVal);
                                                    $(currentEle).find('input').hide();
                                                    $(currentEle).css('z-index', newVal);
                                                    $(currentEle).attr('title', 'Desired: ' + newVal.toString());
                                                    $(document).off('click');
                                                    Schedule.fix_opacity();
                                                }

                                        });
                                    }

                                    $('#add-schedule-elem').click(function() {
                                        var id = Math.floor(Math.random() * 100000000000);
                                        var color = get_color();
                                        $('#schedule').append('<div title="Desired: 1" style="position:absolute;background-color:' + color.replace("OPACITY", "0.5") + '" id="schedule-elem-'+id+'" class="schedule-elem draggable" data-Id="'+id+'" data-Days="1" data-Minutes="60" data-Desired="1">' +
                                            '<input style="display:none" class="desired-val" type="number" value="1" onkeydown="preventSubmit()"/><div class="remove-schedule-elem"><i class="fa fa-close" aria-hidden="true"></i></div><span>Desired: 1</span></div>');
                                        Schedule.make_draggable();
                                    });

                                    $('body').on('dblclick', '.schedule-elem', function(event) {
                                        if($(event.target).attr('class') != "desired-val"){
                                            event.stopPropagation();
                                            var currentEle = $(this);
                                            var value = $(this).attr('data-Desired');
                                            updateDesired(currentEle, value);
                                        }

                                    });
                                    $('body').on('click', '.remove-schedule-elem', function(event) {
                                        $(event.target).parent().parent().remove();
                                        Schedule.fix_opacity();
                                    });
                                });
                            </script>

                            <div id="schedule">
                                <div id="schedule-drag"></div>
                                <table id="schedule-table" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <th data-Day="-1"></th>
                                        <th data-Day="0">Sunday</th>
                                        <th data-Day="1">Monday</th>
                                        <th data-Day="2">Tuesday</th>
                                        <th data-Day="3">Wednesday</th>
                                        <th data-Day="4">Thursday</th>
                                        <th data-Day="5">Friday</th>
                                        <th data-Day="6">Saturday</th>
                                    </tr>
                                    {% for minutes in range(0, 1440, 60) %}
                                        <tr data-minutes="{{ minutes }}">
                                        {% for day in range(-1, 7) %}
                                            {% if day == -1 %} <td style="border-right: 1px solid lightgray" data-Day="{{ day }}">{{ (minutes / 60)|int }}:00</td> {% else %} <td data-Day="{{ day }}"></td> {% endif %}
                                        {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-default">Save Settings</button>
                <br><br>
            </form>
        </div>
    </div>

    <script>
        angular.module("ApplicationSettings", []).controller("Main", ["$http", function ($http) {
            var self = this;
            self.application = {};

            var get_application = function () {
                return $http.get("/ajax/application/{{ name }}").then(
                        function (response) {
                            self.application = response.data;
                            Schedule.init(self.application['ScheduleParts']);
                        }, function (err) {
                            console.log("err")
                        }
                )
            };
            get_application();

            self.save = function () {
                self.application['ScheduleParts'] = Schedule.parse();
                $http.post("/ajax/application/{{ name }}", self.application).then(function (response) {
                    get_application();
                });
            };

            self.create_property_membership = function () {
                console.log(self.application.PropertyGroups);
                if (!self.application.PropertyGroups) {
                    self.application.PropertyGroups = []
                }
                self.application.PropertyGroups.push({
                    "Name": ""
                })
            };
            self.delete_property_membership = function (name) {
                var new_items = [];
                for (var i = 0; i < self.application.PropertyGroups.length; i++) {
                    if (!(self.application.PropertyGroups[i]["Name"] == name)) {
                        new_items.push(self.application.PropertyGroups[i]);
                    }
                }

                self.application.PropertyGroups = new_items;
            };

        }]);

        function preventSubmit() {
            var keyCode = event.keyCode ? event.keyCode : event.which ? event.which : event.charCode;
            if (keyCode == 13) {


                if (!e) var e = window.event;

                e.cancelBubble = true;
                e.returnValue = false;

                if (e.stopPropagation) {
                    e.stopPropagation();
                    e.preventDefault();
                }
            }
        }
    </script>
{% endblock %}
