{% extends "layout.html" %}
{% block navigation_top %}
    <span class="topnavtitle">Performance Metrics for <a href="/application/{{ name }}/overview">{{ name }}</a> on <a href="/server/{{ serverid }}/overview">{{ serverid }}</a></span>
{% endblock %}
{% block body %}
    <script>
        window.toggle_main_nav("leftnav_applications");
    </script>
    <div ng-app="ApplicationSettings">
        <div ng-controller="Main as main">
            <div class="configuration_row row">
                <div class="col-md-12">
                    <div class="box graphbox">
                        <div class="statpill-name">Memory Utilisation</div>
                        <div id="memory_graph" style="height:200px;"></div>
                    </div>
                    <br>
                    <div class="box graphbox">
                        <div class="statpill-name">CPU Utilisation</div>
                        <div id="cpu_graph" style="height:200px;"></div>
                    </div>
                    <br>
                    <div class="box graphbox">
                        <div class="statpill-name">Network Utilisation</div>
                        <div id="network_graph" style="height:200px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        angular.module("ApplicationSettings", []).controller("Main", ["$http", function ($http) {
            var get_memory_usage = function () {
                window.push_loading();
                return $http.get("/ajax/application/{{ name }}/servers/{{ serverid }}/memory").then(
                        function (response) {
                            window.pop_loading();
                            var memory_usage = [];
                            for (var i = 0; i < response.data.memory.length; i++) {
                                var timestamp = moment.parseZone(response.data.memory[i]["Timestamp"]).unix();
                                console.log("mm: " + timestamp);
                                memory_usage.push([moment.parseZone(response.data.memory[i]["Timestamp"]).toDate(), response.data.memory[i]["Mbytes"]]);
                            }

                            var cpu_usage = [];
                            for (var i = 0; i < response.data.memory.length; i++) {
                                cpu_usage.push([moment.parseZone(response.data.memory[i]["Timestamp"]).toDate(), response.data.memory[i]["Cpu"]]);
                            }

                            var network_usage = [];
                            for (var i = 0; i < response.data.memory.length; i++) {
                                network_usage.push([moment.parseZone(response.data.memory[i]["Timestamp"]).toDate(), response.data.memory[i]["Network"]]);
                            }

                            console.log(memory_usage);

                            Highcharts.chart('memory_graph', {
                                chart: {
                                    type: 'areaspline'
                                },
                                title: {text: ''},
                                exporting: {enabled: false},
                                credits: {enabled: false},
                                xAxis: {
                                    visible: true,
                                    type: 'datetime'
                                },
                                yAxis: {
                                    visible: true
                                },
                                plotOptions: {
                                    areaspline: {
                                        fillOpacity: 0.5
                                    }
                                },
                                series: [{
                                    showInLegend: true,
                                    data: memory_usage,
                                    marker: {
                                        enabled: false
                                    },
                                    name: ''
                                }]
                            });

                            Highcharts.chart('cpu_graph', {
                                chart: {
                                    type: 'areaspline'
                                },
                                title: {text: ''},
                                exporting: {enabled: false},
                                credits: {enabled: false},
                                xAxis: {
                                    visible: true,
                                    type: 'datetime'
                                },
                                yAxis: {
                                    visible: true
                                },
                                plotOptions: {
                                    areaspline: {
                                        fillOpacity: 0.5
                                    }
                                },
                                series: [{
                                    showInLegend: true,
                                    data: cpu_usage,
                                    marker: {
                                        enabled: false
                                    }
                                }]
                            });


                            Highcharts.chart('network_graph', {
                                chart: {
                                    type: 'areaspline'
                                },
                                title: {text: ''},
                                exporting: {enabled: false},
                                credits: {enabled: false},
                                xAxis: {
                                    visible: true,
                                    type: 'datetime'
                                },
                                yAxis: {
                                    visible: true
                                },
                                plotOptions: {
                                    areaspline: {
                                        fillOpacity: 0.5
                                    }
                                },
                                series: [{
                                    showInLegend: false,
                                    data: network_usage,
                                    marker: {
                                        enabled: false
                                    }
                                }],
                                line: {
                                    marker: {
                                        enabled: false
                                    }
                                }
                            });
                        }
                )
            };

            get_memory_usage();
        }]);
    </script>
{% endblock %}
