{% extends "layout.html" %}
{% block navigation_top %}
    <span class="topnavtitle">Managing Application {{ name }}</span>
{% endblock %}
{% block body %}
    <script>
        window.toggle_main_nav("leftnav_applications");
    </script>
    <br>
    <style>
        .minor-navitem {
            display: inline-table;
            padding-right: 10px;
            font-size: 15px;
            color: gray;
        }

        .selected {
            font-weight: 500;
        }

        .minor-navbar {
            padding-bottom: 10px;
            border-bottom: solid 1px whitesmoke;;
        }

        .statpill {
            border-radius: 3px;
        }

        .statpill-metric {
            font-size: 30px;
        }

        .statpill-name {
            text-transform: uppercase;
        }

        .statpill-root {
            padding-left: 0px !important;
        }

        .border-right {
        }
    </style>
    <div class="row">
        <div class="minor-navbar">
            {% include "application_navbar.html" %}
            <script>
                $("#logs-nav").addClass("selected")
            </script>

        </div>
    </div>


    <div ng-app="ServerSettings">
        <div ng-controller="Main as main">

            <div class="logtablebody" style="">
                <span class="logtablebody-title">Logs - Tail</span>
                <form class="form-inline logtablesearch" style="" ng-submit="main.search()">
                    <div class="form-group">
                        <a class="btn btn-default" href="/application/{{ name }}/logs">Standard</a>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Search"
                               ng-model="main.search_expression">
                    </div>
                    <div class="form-group">
                        <select class="form-control" ng-model="main.limit">
                            <option value="10">10 Entries</option>
                            <option value="100">100 Entries</option>
                            <option value="500">500 Entries</option>
                            <option value="1000">1000 Entries</option>
                            <option value="5000">5000 Entries</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
            <table class="table">
                <tbody>
                {% raw %}
                <tr ng-repeat="event in main.logs">
                    <td nowrap>
                        <span ng-bind="event.Timestamp"></span>
                    </td>
                    <td>
                        <span ng-bind="event.Message"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div ng-show="main.empty"><i>No additional logs found yet</i><br></div>
                    </td>
                </tr>
                {% endraw %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        angular.module("ServerSettings", []).controller("Main", ["$http", "$interval", function ($http, $interval) {
            var self = this;
            self.servers = [];
            self.search_expression = "";
            self.limit = "100";
            self.empty = false;
            self.logs = [];
            self.lasttime = "0";
            var get_events = function () {
                window.push_loading();
                return $http.get("/ajax/application/{{ name }}/logs/tail/" + self.lasttime + "?search=" + self.search_expression + "&limit=" + self.limit).then(
                        function (response) {
                            var logs = response.data.logs;
                            if (logs) {
                                var limit = parseInt(self.limit)
                                if (logs.length === limit) {
                                    self.logs = []
                                } else {
                                    var slice = -limit;
                                    if (logs.length < limit) {
                                        slice = -(limit - logs.length)
                                    }
                                    self.logs = self.logs.slice(slice);
                                }
                                for (var i = logs.length - 1; i >= 0; i--) {
                                    self.lasttime = logs[i]["Timestamp"];
                                    logs[i]["Timestamp"] = moment.parseZone(logs[i]["Timestamp"]).toDate();
                                    self.logs.push(logs[i]);
                                }

                                self.empty = self.logs.length === 0;
                            } else {
                                self.empty = true;
                            }

                            window.pop_loading();
                        }, function (err) {
                            window.pop_loading();
                            console.log("err")
                        }
                )
            };

            $interval(get_events, 1000);

            self.search = function () {
                get_events();
            };

            self.search();
        }]);
    </script>
{% endblock %}
