{% extends "layout.html" %}
{% block navigation_top %}
    <span class="topnavtitle">Managing Application {{ name }}</span>
{% endblock %}
{% block body %}
    <script>
        window.toggle_main_nav("leftnav_applications");
    </script>
    <br>
    <style>
        .minor-navitem {
            display: inline-table;
            padding-right: 10px;
            font-size: 15px;
            color: gray;
        }

        .selected {
            font-weight: 500;
        }

        .minor-navbar {
            padding-bottom: 10px;
            border-bottom: solid 1px whitesmoke;;
        }
    </style>
    <div class="row">
        <div class="minor-navbar">
            {% include "application_navbar.html" %}
            <script>
                $("#scaling-nav").addClass("selected")
            </script>
        </div>
    </div>
    <br>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <div ng-app="ApplicationSettings" class="row">
        <div ng-controller="Main as main">
            <form ng-submit="main.save()">
                <div class="row configuration_row box formbox">
                    <div class="col-lg-4">
                        <div class="subtitle">Scaling Configuration</div>
                        <div class="subtext">
                            Configure application type and scaling min/max values.
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" disabled class="form-control" ng-model="main.application.Name">
                        </div>
                        <div class="form-group">
                            <label>Enabled</label>
                            <input type="checkbox" class="form-control" ng-model="main.application.Enabled">
                        </div>
                        <div class="form-group">
                            <label>Disable Schedule</label>
                            <input type="checkbox" class="form-control" ng-model="main.application.DisableSchedule">
                        </div>
                        <div class="form-group">
                            <label>Min</label>
                            <input type="number" class="form-control"
                                   ng-model="main.application.MinDeployment">
                        </div>
                        <div class="form-group">
                            <label>Desired</label>
                            <input type="number" class="form-control"
                                   ng-model="main.application.DesiredDeployment">
                        </div>
                    </div>
                </div>

                <div ng-show="!main.application.DisableSchedule">
                    <br>

                    <div class="row configuration_row box formbox" ng-show="!main.application.DisableSchedule">
                        <div class="col-lg-4">
                            <div class="subtitle">Dynamic Schedule</div>
                            <div class="subtext">
                                Configure a hourly schedule.
                            </div>
                        </div>

                        <div class="col-lg-8">

                            <div class="row configuration_row">
                                <table>
                                    <thead>
                                    <th>Day</th>
                                    <th>Midnight</th>
                                    <th>1AM</th>
                                    <th>2AM</th>
                                    <th>3AM</th>
                                    <th>4AM</th>
                                    <th>5AM</th>
                                    <th>6AM</th>
                                    <th>7AM</th>
                                    <th>8AM</th>
                                    <th>9AM</th>
                                    <th>10AM</th>
                                    <th>11AM</th>
                                    <th>12AM</th>
                                    <th>1PM</th>
                                    <th>2PM</th>
                                    <th>3PM</th>
                                    <th>4PM</th>
                                    <th>5PM</th>
                                    <th>6PM</th>
                                    <th>7PM</th>
                                    <th>8PM</th>
                                    <th>9PM</th>
                                    <th>10PM</th>
                                    <th>11PM</th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="day in main.application.DeploymentSchedule.Schedule">

                                        <td>-</td>
                                        <td><input type="number" class="form-control" ng-model="day[0]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[60]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[120]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[180]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[240]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[300]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[360]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[420]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[480]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[540]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[600]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[660]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[720]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[780]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[840]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[900]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[960]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[1020]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[1080]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[1140]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[1200]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[1260]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[1320]"
                                                   placeholder="LB">
                                        </td>
                                        <td><input type="number" class="form-control" ng-model="day[1380]"
                                                   placeholder="LB">
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-default">Save Settings</button>
                <br><br>
            </form>
        </div>
    </div>

    <script>
        angular.module("ApplicationSettings", []).controller("Main", ["$http", function ($http) {
            var self = this;
            self.application = {};

            var get_application = function () {
                return $http.get("/ajax/application/{{ name }}").then(
                        function (response) {
                            self.application = response.data
                        }, function (err) {
                            console.log("err")
                        }
                )
            };
            get_application();
            self.save = function () {
                $http.post("/ajax/application/{{ name }}", self.application).then(function (response) {
                    get_application();
                });
            };
        }]);

    </script>
{% endblock %}
