{% extends "layout.html" %}
{% block navigation_top %}
    <span class="topnavtitle">Managing Server {{ name }}</span>
{% endblock %}
{% block body %}
    <script>
                window.toggle_main_nav("leftnav_servermap");
    </script>
    <br>
    <style>
        .minor-navitem {
            display: inline-table;
            padding-right: 10px;
            font-size: 15px;
            color: gray;
        }

        .selected {
            font-weight: 500;
        }

        .minor-navbar {
            padding-bottom: 10px;
            border-bottom: solid 1px whitesmoke;;
        }

        .statpill {
            border-radius: 3px;
        }

        .statpill-metric {
            font-size: 30px;
        }

        .statpill-name {
            text-transform: uppercase;
        }

        .statpill-root {
            padding-left: 0px !important;
        }

        .border-right {
        }
    </style>
    <div class="row">
        <div class="minor-navbar">
            {% include "server_navbar.html" %}
            <script>
                $("#events-nav").addClass("selected")
            </script>

        </div>
    </div>

    <div ng-app="ServerSettings">
        <div ng-controller="Main as main">
            <div class="configuration_row row">
                <div class="col-md-12">

                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="event in main.events">
                            <span ng-bind="event.Timestamp"></span> - <span ng-bind="event.Severity"></span> - <span ng-bind="event.Message"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
        angular.module("ServerSettings", []).controller("Main", ["$http", function ($http) {
            var self = this;
            self.servers = [];

            var get_events = function () {
                return $http.get("/ajax/server/{{ name }}/events").then(
                        function (response) {
                            self.events = response.data.events;
                        }, function (err) {
                            console.log("err")
                        }
                )
            };

            get_events();
        }]);
    </script>
{% endblock %}
