{% extends "layout.html" %}
{% block navigation_top %}
    <span class="topnavtitle">Managing Server {{ name }}</span>
{% endblock %}
{% block body %}
    <script>
        $("#navitem_servers").addClass("navitem_selected");
    </script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script>
        window.toggle_main_nav("leftnav_servermap");
    </script>
    <br>
    <style>
        .minor-navitem {
            display: inline-table;
            padding-right: 10px;
            font-size: 15px;
            color: gray;
        }

        .selected {
            font-weight: 500;
        }

        .minor-navbar {
            padding-bottom: 10px;
            border-bottom: solid 1px whitesmoke;;
        }

        .statpill {
            border-radius: 3px;
        }

        .statpill-metric {
            font-size: 30px;
        }

        .statpill-name {
        }

        .statpill-root {
            padding-left: 0px !important;
        }

        .border-right {
        }
    </style>
    <div class="row">
        <div class="minor-navbar">
            {% include "server_navbar.html" %}
            <script>
                $("#overview-nav").addClass("selected")
            </script>
        </div>
    </div>
    <br>
    <div ng-app="ServerOverview">
        <div ng-controller="Main as main">
            <div class="row">
                <div class="col-md-8">
                    <div class="box graphbox">
                        <div class="statpill-name">CPU Utilisation</div>
                        <div style="height:200px;" id="cpu_graph"></div>
                    </div>
                    <br>
                    <div class="box graphbox">
                        <div class="statpill-name">Memory Utilisation</div>
                        <div style="height:200px;" id="memory_graph"></div>
                    </div>
                    <br>
                    <div class="box graphbox">
                        <div class="statpill-name">Memory Utilisation</div>
                        <div style="height:200px;" id="network_graph"></div>
                    </div>
                    <br>
                    <div class="box graphbox">
                        <div class="statpill-name">HDD Utilisation</div>
                        <div style="height:200px;" id="hdd_graph"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box graphbox">
                        <div class="statpill-name">Server Details</div>

                        <div>FirstSeen: <span ng-bind="main.server.FirstSeen"></span></div>
                        <div>LastSeen: <span ng-bind="main.server.LastSeen"></span></div>
                        <div>Ip Address: <span ng-bind="main.server.Ip"></span></div>
                        <div>Network: <span ng-bind="main.server.Network"></span></div>
                        <div>SecurityGroups: <span ng-repeat="sgroup in main.server.SecurityGroups"><span
                                ng-bind="sgroup.Group"></span></span></div>
                        <div>State: <span ng-bind="main.server.State"></span></div>
                        <div>SpotInstance: <span ng-bind="main.server.SpotInstance"></span></div>
                    </div>
                    <br>

                    <div class="box graphbox">
                        <div class="statpill-name">Apps Deployed</div>
                        <div ng-repeat="app in main.server.Apps">
                            <span ng-bind="app.Name"></span>
                        </div>
                    </div>
                    <br>
                    <div class="box graphbox">
                        <div class="statpill-name">Queued Changes</div>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="app in main.server.Changes">
                                <span ng-bind="app.Type"></span>
                                <span ng-bind="app.Time"></span>
                                <span ng-bind="app.Name"></span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <script>
        angular.module("ServerOverview", []).controller("Main", ["$http", function ($http) {
            var self = this;
            var get_current_servers = function () {
                window.push_loading();

                return $http.get("/ajax/server/{{ name }}").then(
                        function (response) {
                            window.pop_loading();
                            self.server = response.data.server;
                        }, function (err) {
                            console.log("err")
                        }
                )
            };

            var get_memory_usage = function () {
                window.push_loading();

                return $http.get("/ajax/server/{{ name }}/memory").then(
                        function (response) {
                        window.pop_loading();

                            var cpu_usage = [];
                            for (var i = 0; i < response.data.memory.length; i++) {
                                cpu_usage.push([moment.parseZone(response.data.memory[i]["Timestamp"]).toDate(), response.data.memory[i]["Cpu"]]);
                            }

                            var memory_usage = [];
                            for (var i = 0; i < response.data.memory.length; i++) {
                                memory_usage.push([moment.parseZone(response.data.memory[i]["Timestamp"]).toDate(), response.data.memory[i]["Mbytes"]]);
                            }

                            var network_usage = [];
                            for (var i = 0; i < response.data.memory.length; i++) {
                                network_usage.push([moment.parseZone(response.data.memory[i]["Timestamp"]).toDate(), response.data.memory[i]["Network"]]);
                            }

                            var hdd_usage = [];
                            for (var i = 0; i < response.data.memory.length; i++) {
                                hdd_usage.push([moment.parseZone(response.data.memory[i]["Timestamp"]).toDate(), response.data.memory[i]["HardDiskUsagePercent"]]);
                            }

                            Highcharts.chart('cpu_graph', {
                                chart: {
                                    type: 'areaspline'
                                },
                                title: {text: ''},
                                exporting: {enabled: false},
                                credits: {enabled: false},
                                xAxis: {
                                    visible: true,
                                    type: "datetime"
                                },
                                yAxis: {
                                    visible: true
                                },
                                plotOptions: {
                                    areaspline: {
                                        fillOpacity: 0.5
                                    }
                                },
                                series: [{
                                    showInLegend: true,
                                    data: cpu_usage,
                                    marker: {
                                        enabled: false
                                    },
                                    name: "CPU Running"
                                }]
                            });

                            Highcharts.chart('memory_graph', {
                                chart: {
                                    type: 'areaspline'
                                },
                                title: {text: ''},
                                exporting: {enabled: false},
                                credits: {enabled: false},
                                xAxis: {
                                    visible: true,
                                    type: "datetime"
                                },
                                yAxis: {
                                    visible: true
                                },
                                plotOptions: {
                                    areaspline: {
                                        fillOpacity: 0.5
                                    }
                                },
                                series: [{
                                    showInLegend: true,
                                    data: memory_usage,
                                    marker: {
                                        enabled: false
                                    },
                                    name: "MEMORY Running"
                                }]
                            });

                            Highcharts.chart('network_graph', {
                                chart: {
                                    type: 'areaspline'
                                },
                                title: {text: ''},
                                exporting: {enabled: false},
                                credits: {enabled: false},
                                xAxis: {
                                    visible: true,
                                    type: "datetime"
                                },
                                yAxis: {
                                    visible: true
                                },
                                plotOptions: {
                                    areaspline: {
                                        fillOpacity: 0.5
                                    }
                                },
                                series: [{
                                    showInLegend: true,
                                    data: network_usage,
                                    marker: {
                                        enabled: false
                                    },
                                    name: "Network Running"
                                }]
                            });

                            Highcharts.chart('hdd_graph', {
                                chart: {
                                    type: 'areaspline'
                                },
                                title: {text: ''},
                                exporting: {enabled: false},
                                credits: {enabled: false},
                                xAxis: {
                                    visible: true,
                                    type: "datetime"
                                },
                                yAxis: {
                                    visible: true
                                },
                                plotOptions: {
                                    areaspline: {
                                        fillOpacity: 0.5
                                    }
                                },
                                series: [{
                                    showInLegend: true,
                                    data: hdd_usage,
                                    marker: {
                                        enabled: false
                                    },
                                    name: "HDD Percentage Running"
                                }]
                            });

                        }, function (err) {
                            console.log("err")
                        }
                )
            };

            get_current_servers();
            get_memory_usage();
        }]);
    </script>

{% endblock %}
