{% extends "layout.html" %}
{% block navigation_top %}
    <span class="topnavtitle">Managing Server {{ name }}</span>
{% endblock %}
{% block body %}
    <script>
        window.toggle_main_nav("leftnav_servermap");
    </script>

    <script>
        $("#navitem_servers").addClass("navitem_selected");
    </script>

    <br>
    <style>
        .minor-navitem {
            display: inline-table;
            padding-right: 10px;
            font-size: 15px;
            color: gray;
        }

        .selected {
            font-weight: 500;
        }

        .minor-navbar {
            padding-bottom: 10px;
            border-bottom: solid 1px whitesmoke;;
        }

        .statpill {
            border-radius: 3px;
        }

        .statpill-metric {
            font-size: 30px;
        }

        .statpill-name {
            text-transform: uppercase;
        }

        .statpill-root {
            padding-left: 0px !important;
        }

        .border-right {
        }

    </style>
    <div class="row">
        <div class="minor-navbar">
            {% include "server_navbar.html" %}
            <script>
                $("#events-nav").addClass("selected")
            </script>

        </div>
    </div>

    <div ng-app="ServerSettings">
        <div ng-controller="Main as main">
            <div class="logtablebody" style="">
                <span class="logtablebody-title">Audit Events</span>
                <form class="form-inline logtablesearch" style="" ng-submit="main.search()">
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Search" ng-model="main.search_expression">
                    </div>
                    <div class="form-group">
                        <select class="form-control" ng-model="main.limit">
                            <option value="10">10 Entries</option>
                            <option value="100">100 Entries</option>
                            <option value="500">500 Entries</option>
                            <option value="1000">1000 Entries</option>
                            <option value="5000">5000 Entries</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
            <table class="table">
                <tbody>
                {% raw %}
                <tr ng-repeat="event in main.events">
                    <td nowrap>
                        <span ng-bind="event.Timestamp"></span>
                    </td>
                    <td>
                        <span ng-bind="event.Severity"></span>
                    </td>
                    <td>
                        <span ng-bind="event.Message"></span>
                    </td>
                </tr>
                <tr>
                    <div ng-show="main.empty"><i>No Instances Found</i></div>
                </tr>
                {% endraw %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        angular.module("ServerSettings", []).controller("Main", ["$http", function ($http) {
            var self = this;
            self.events = [];
            self.empty = 0;
            self.search_expression = "";
            self.limit = "100";

            var get_events = function () {
                self.events = [];
                window.push_loading();

                return $http.get("/ajax/server/{{ name }}/events?search=" + self.search_expression + "&limit=" + self.limit).then(
                        function (response) {
                            window.pop_loading();

                            var events = response.data.events;
                            for (var i = events.length - 1; i >= 0; i--) {
                                var event = events[i];
                                event["Timestamp"] = moment.parseZone(event["Timestamp"]).toDate();
                                self.events.push(event);
                            }

                            self.empty = events.length == 0;
                        }, function (err) {
                            console.log("err")
                        }
                )
            };

            get_events();

            self.search = function(){
                get_events();
            }
        }]);
    </script>
{% endblock %}
